.detail-motel-container .title{
    font-family: "Merriweather", serif;
    color: #055699;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 14px;
}
.detail-motel-container .title-section{
    font-family: "Merriweather", serif;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 14px;
}