.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.filter-items :where(.css-dev-only-do-not-override-n0raxz).ant-divider-horizontal {
  margin: 10px 0 !important;
}


.ant-modal-header {
  text-align: center;
  border-bottom: #ebebeb solid 1px !important;
  padding-bottom: 20px !important;
}

.ant-slider-mark-text.ant-slider-mark-text-active {
  width: 100px;
}
  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}